.container{
    background-color: #e3e3e385;
    height: 100vh;
}

.navbar{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: #ffffff45;
    box-shadow: 0px 5px 5px 0px rgba(187, 187, 187, 0.501);
}

.icon{
    margin-left: 30px;
}

.tableContainer{
    

}

.table{
    margin:100px;
    width: 60vw;
    
}