.form_background{
    height: 100vh;
    width: 100vw;
    display: flex;


    background-size: cover;
    background-position: top;
}

.form{
    align-items: center;
    
    display: flex;

}

.nav{
    width: 110px;
    height:100%;

    background:rgba(0,0,0,0.8);
    border-radius:20px;
    overflow: hidden;
    transition:0.5s;
}


.nav:hover{
    width: 180px;
}