.container{
    height: 100vh;
    background-color: rgba(240, 240, 240, 0.832);
}

.head{
    
    align-items: center;
    justify-content: center;
}

.headImg{
    width: 100vw;
    height: 40vh;
}


.lists{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px;

    
}
.list_img{
    height: 16vh;
}


