.container{

    
    background-color: rgba(240, 240, 240, 0.832);
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.body{
    margin-top:50px;

}

.item{
    margin-bottom: 40px;
    width: 600px;
    border-style: solid;
    border-width: 0.5px;
    
}





.image{
    width: 80px;
    height: 100px;
}