*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container{

    display: flex;
    margin: 20px;
    align-items: center;
    padding:200px;
}
.card{
    height: 400px;
}


.description{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image{
    height: 50%;
    width: auto;
}

